<style type="text/css">
#section2 {
    background: #f3f5f7;
    display: flex;
    justify-content: center;
}
#section2-contant {
    width: 100%;
    max-width: 150rem;
    display: flex;
    align-items: center;
    gap: 10rem;
    padding: 0 2rem;
}
#section2-container1 {
    flex: 1;
    display: flex;
    flex-direction: column;
}
#section2-title{
	background: #ece9ff;
    text-align: center;
    border-radius: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.2rem;
    padding-bottom: 0.9rem;
    color: #725fd8;
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 0.05rem;
    align-self: flex-start;
}
#section2-subtitle{
	font-size: 4.3rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    line-height: 6.5rem;
    color: #3f3c4e;
    margin-bottom: 2.5rem;
}
#section2-description{
    font-size: 1.8rem;
    font-family: NanumSquareRound;
    letter-spacing: 0.05rem;
    line-height: 3rem;
    color: #8ca0b7;
}
#section2-container2 {
    flex: 2.5;
    display: flex;
    align-items: center;
}
#section2-container2 video {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 0.8rem;
    border: 1px solid #dee0e6;
}

@media (max-width: 768px) {
    #section2-contant {
        flex-direction: column;
        gap: 0rem;
        min-height: 100vh;
    }
    #section2-container1 {
        align-items: center;
        text-align: center;
        margin-top: 10rem;
    }
    #section2-container2 {
        flex: 2.5;
        display: block;
        align-items: center;
        margin-top: 10rem;
    }
    #section2-title {
        align-self: center;
    }    
}
</style>
<div id="section2" class="section_page">
	<div id="section2-contant">
		<div id="section2-container1">
			<div id="section2-title">어떻게 사용하나요?</div>
			<div id="section2-subtitle">원하는 스타일만 <br> 선택하세요</div>
			<div id="section2-description">원하는 로고 이름을 입력하고, 도형과 색상, 위치를 정하시면 맞춤형 로고 디자인이 완성됩니다. <br> 더 개성있는 로고로 만들고 싶다면, 에디터의 커스터마이징 기능을 사용해보세요.</div>
		</div>
		<div id="section2-container2">
			<video autoplay loop muted playsinline>
			    <source src="../LogoYogo/resources/videos/clip01.mp4" type="video/mp4">
			</video>			
		</div>
	</div>
</div>
